.container {
    width: 90%;
    margin: auto;
}

table {
    width: 100%;
  }

mat-form-field{
    width: 100%;
}

button{
    width: 100%;
}

h1{
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
}
.edit{
    color: rgb(8, 112, 128)
}

.delete{
    color: rgb(238, 7, 7)
}

mat-radio-group {
display:  flex;
color:rgb(8, 112, 128);
margin-bottom: 1rem;

}